# Dependencies
node_modules
npm-debug.log

# Build output
dist

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage
.nyc_output

# Documentation
docs
*.md

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
